*{margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;}
body{background-color:  hsl(0, 0%, 95%) ;
max-width: 375px;}
.div1{background-color: hsl(31, 77%, 52%);
max-width: 600px;
height: 500px;
border-top-left-radius: 7px;
margin-left: 50px;
border-bottom-left-radius: 7px;}
.h1{font-size: 45px;
font-family:Big Shoulders Display ;
color: hsl(0, 0%, 95%);
font-weight: 700;
;
margin-top: -250px;
margin-left: 50px;}
.p1{color: hsla(0, 0%, 100%, 0.75);
font-family: Lexend Deca;
font-weight: 400;
margin-left: 50px;
margin-top: 120px;} 
.p2{color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 7px;}
    .p3{color: hsla(0, 0%, 100%, 0.75);
        font-family: Lexend Deca;
        font-weight: 400;
        margin-left: 50px;
        margin-top: 7px;}
.p4{color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 7px;}
.p5{color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 7px;}
    .img1{margin-left: 50px;
    margin-top: 50px;}
    .b1{}